<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-content>
          <form [formGroup]="_form" (ngSubmit)="onSubmit()">
            <h2>Reset Password</h2>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Password" type="password" formControlName="code" required>
              <mat-error>
                Code is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Password" type="password" formControlName="newPassword" required>
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
              <mat-error>
                Please provide a valid confirm password
              </mat-error>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
              </div>
            </mat-form-field>
            <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading">Reset</button>

          </form>  
            <a mat-button  routerLink="/forgot-password"  >Forgot Password</a> |
            <a mat-button  routerLink="/login"  >Login</a>

        </mat-card-content>
    </mat-card>
</div>
